{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'gestion/css/menu.css' %}" />
<header>
  <div class="header-content">
    <h1>Medic SV</h1>
    <p>
      Bienvenido a Medic SV, una plataforma médica 100% salvadoreña y gratuita
      en la que puedes ver perfiles de doctores y sus especialidades, así como
      agendar citas de manera rápida y segura.
    </p>
  </div>
</header>

<body>
  <div style="max-width: 1100px; margin: 0 auto; padding: 0 16px">
    <nav>
      <ul>
        <li><a href="{% url 'lista_pacientes' %}">Gestión de Pacientes</a></li>
        <li><a href="{% url 'lista_medicos' %}">Gestión de Médicos</a></li>
        <li><a href="{% url 'lista_citas' %}">Gestión de Citas</a></li>
        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
      </ul>
    </nav>
  </div>
</body>

{% endblock %}
