{% extends 'base.html' %} {% block content %}
<h2>Nueva Cita</h2>

<form method="post">
  {% csrf_token %}

  <div class="mb-3">
    <label for="medico" class="form-label">Seleccione un médico</label>
    <select id="medico" name="medico" class="form-select">
      {% for m in medicos %}
      <option value="{{ m.id }}">{{ m.nombre }} - {{ m.especialidad }}</option>
      {% empty %}
      <option disabled>No hay médicos disponibles</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label for="fecha" class="form-label">Fecha</label>
    <input type="date" id="fecha" name="fecha" class="form-control" required />
  </div>

  <div class="mb-3">
    <label for="hora" class="form-label">Hora</label>
    <input type="time" id="hora" name="hora" class="form-control" required />
  </div>

  <button type="submit" class="btn btn-success">Guardar</button>
</form>
{% endblock %}
