/* Estilos para el header */
header {
    background-color: #f0f4f8;
    /* Color suave de fondo */
    color: #333;
    /* Color de texto oscuro para contraste */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para el nav */
nav {
    background-color: #e0e7ef;
    /* Color suave de fondo */

    /* Color de texto oscuro para contraste */
    padding: 15px;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #ccc;
    /* Detalle en el borde */
}

/* Estilos para los enlaces en el nav */
nav a {
    color: #007bff;
    /* Color de enlace */
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #d1e7fd;
    /* Color de fondo al pasar el ratón */
    color: #0056b3;
    /* Color de texto al pasar el ratón */
}