{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<link rel="stylesheet" href="{% static 'gestion/css/medicos.css' %}" />

<header>
  <h1>Médicos</h1>
</header>
<div class="grid-container">
  {#se mostrarán los médicos aquí y sus especialidades.#}
  <div class="card" id="div-medico-card">
    <h2>Dr Wesley Rivera</h2>
    <img
      src="https://i.pinimg.com/1200x/be/4f/c5/be4fc5db3efb38e2030216bb0bef69c1.jpg"
      id="img-medico-card"
      alt="Foto del médico"
    />
    <p>Especialidad: Cardiología</p>
    <p>telefono: +503-2345-2321</p>
    <p>correo: Wesley@gmail.com</p>
    <a
      class="btn btn-success"
      href="{% url 'lista_citas' %}"
    >
      agendar cita
    </a>
    
    </button>
  </div>

  <div class="card" id="div-medico-card">
    <h2>Dr Nestor Alarco</h2>
    <img
      src="https://i.pinimg.com/736x/e1/98/2d/e1982daf63531da7e7b5a7a3342f2189.jpg"
      id="img-medico-card"
      alt="Foto del médico"
    />
    <p>Especialidad: ginecologo</p>
    <p>telefono: +503-7392-3432</p>
    <p>correo: Nestor@gmail.com</p>
    <a
      class="btn btn-success"
      href="{% url 'lista_citas' %}"
    >
      agendar cita
    </a>
    
    </button>
  </div>

  <div class="card" id="div-medico-card">
    <h2>Dr Gregorio Casa</h2>
    <img
      src="https://i.pinimg.com/1200x/70/f7/bf/70f7bfd34529405ddc207394ac5dd771.jpg"
      id="img-medico-card"
      alt="Foto del médico"
    />
    <p>Especialidad: Medico General</p>
    <p>telefono: +503-6502-3829</p>
    <p>correo: Gregorio@gmail.com</p>
    <a
      class="btn btn-success"
      href="{% url 'lista_citas' %}"
    >
      agendar cita
    </a>
    
    </button>
  </div>

   <div class="card" id="div-medico-card">
    <h2>Dr Mario Salazar</h2>
    <img
      src="https://i.pinimg.com/736x/7e/29/ad/7e29ad3dc9ad6f006e402ccf21dfe7dd.jpg"
      id="img-medico-card"
      alt="Foto del médico"
    />
    <p>Especialidad: Cardiologo</p>
    <p>telefono: +503-7532-3462</p>
    <p>correo: MarioSalazar@gmail.com</p>
    <a
      class="btn btn-success"
      href="{% url 'lista_citas' %}"
    >
      agendar cita
    </a>
    
    </button>
  </div>

 <div class="card" id="div-medico-card">
    <h2>Dr. Meredith Grey</h2>
    <img
      src="https://i.pinimg.com/1200x/1a/3f/e3/1a3fe3e85f9c818b220c9df24a0fd824.jpg"
      id="img-medico-card"
      alt="Foto del médico"
    />
    <p>Especialidad: Neurocirugana</p>
    <p>telefono: +503-6034-2642</p>
    <p>correo: MeredithGrey@gmail.com</p>
    <a
      class="btn btn-success"
      href="{% url 'lista_citas' %}"
    >
      agendar cita
    </a>
    
    </button>
  </div>

  <div class="card" id="div-medico-card">
    <h2>Dr. Glenda Cortez</h2>
    <img
      src="https://i.pinimg.com/736x/86/a5/fe/86a5fe0bd32b14fd8205314645d7edce.jpg"
      id="img-medico-card"
      alt="Foto del médico"
    />
    <p>Especialidad: Endocrinologia</p>
    <p>telefono: +503-6034-2642</p>
    <p>correo: GlendaCortez@gmail.com</p>
    <a
      class="btn btn-success"
      href="{% url 'lista_citas' %}"
    >
      agendar cita
    </a>
    
    </button>
  </div>

  <div class="card" id="div-medico-card">
    <h2>Dr. Juan Blanco</h2>
    <img
      src="https://i.pinimg.com/736x/34/00/f8/3400f85f717d06eca8ed12e2a66b6846.jpg"
      id="img-medico-card"
      alt="Foto del médico"
    />
    <p>Especialidad: Medico General</p>
    <p>telefono: +503-6034-2642</p>
    <p>correo: JuanBlanco@gmail.com</p>
    <a
      class="btn btn-success"
      href="{% url 'lista_citas' %}"
    >
      agendar cita
    </a>
    
    </button>
  </div>




</div>
{% endblock %}
