{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'gestion/css/menu.css' %}" />

<header class="hero">
  <div class="hero-content">
    <h1 class="hero-title">Medic SV</h1>
    <p class="hero-subtitle">
      Organiza, comunica y avanza: Tu salud en buenas manos
    </p>
    <p class="hero-description">
      Bienvenido a Medic SV, una plataforma médica 100% salvadoreña y gratuita
      en la que puedes ver perfiles de doctores y sus especialidades, así como
      agendar citas de manera rápida y segura.
    </p>
    <a href="{% url 'logout' %}" class="btn-logout">Cerrar Sesión</a>
  </div>
</header>

<section class="dashboard">
  <h2 class="dashboard-title">Tu portal de paciente</h2>
  <p class="dashboard-subtitle">
    Consulta tus citas, resultados y comunicación con tu clínica en un solo
    lugar.
  </p>

  <div class="quick-actions">
    <div class="action-box">
      <h3>Gestión de Pacientes</h3>
      <p>Administra los datos de tus pacientes de forma rápida y segura.</p>
      <a href="{% url 'lista_pacientes' %}" class="btn-feature"
        >Ver pacientes</a
      >
    </div>
    <div class="action-box">
      <h3>Gestión de Médicos</h3>
      <p>Consulta perfiles médicos y sus especialidades disponibles.</p>
      <a href="{% url 'lista_medicos' %}" class="btn-feature">Ver médicos</a>
    </div>
    <div class="action-box">
      <h3>Gestión de Citas</h3>
      <p>Agéndalas fácilmente y mantén tu historial actualizado.</p>
      <a href="{% url 'lista_citas' %}" class="btn-feature">Ver citas</a>
    </div>
  </div>
</section>
{% endblock %}
